.location-tile {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: calc(50% - 0.5rem);
    width: calc(100%);
    // width: 95%;
    min-height: 9rem;
    max-height: 9rem;
    text-decoration: none;
    color: var(--color-light);
  
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0.5rem;
    border-radius: 1.5rem;
  
    .location-tile-top {
      display: flex;
      width: calc(100%);
      gap: 0.5rem;
  
      .tile-top-weather {
        min-width: calc(50% - 1rem);
        max-width: calc(50% - 1rem);
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
  
        .tile-temp {
          font-size: 1.5rem;
          font-weight: 700;
        }
  
        .tile-weather {
          font-size: 0.75rem;
        }
      }
  
      .tile-top-icon {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
        min-width: calc(50% - 1rem);
        max-width: calc(50% - 1rem);
        padding: 0.5rem;
        height: 5rem;
        img {
          // height: 4rem;
          width: 4rem;
        }
      }
    }
  
    .location-tile-bottom {
      width: calc(100%);
      padding: 0.5rem;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        max-width: 100%;
        overflow: hidden;
        word-wrap: none;
      }

      .remove-location {
 
        z-index: 1;
        cursor: pointer;
        width: 1rem;
        height: 1rem;
        background-size: 1rem;
        background-repeat: no-repeat;
        background-image: url("/assets/images/remove.png");
      }

      &:hover {

        div {
          max-width: 80%;
          overflow: hidden;
        }

        .remove-location {
          display:block;
        }
      }
    }
  }


  // Only show the remove-location class on devices that can hover
  @media (hover: hover) {
    .remove-location {
      display:none !important;
    }
  }
