<div class="main-header">
  <h1>{{locationName}}</h1>
  <div>{{today | date: 'fullDate'}}</div>
</div>

<div class="switch-container">
    <div class="clickable switch blue-bg">Forecast</div>
    <div class="clickable switch transparent-bg" [routerLink]="['/']">Go Back</div>
</div>

<div class="current-container">
  <img *ngIf="(weatherIcon === '01d') || (weatherIcon === '01n')" src="/assets/images/sunny.png">
    <img *ngIf="(weatherIcon === '02d') || (weatherIcon === '02n')" src="/assets/images/cloudy.png">
    <img *ngIf="(weatherIcon === '03d') || (weatherIcon === '03n')" src="/assets/images/verycloudy.png">
    <img *ngIf="(weatherIcon === '04d') || (weatherIcon === '04n')" src="/assets/images/verycloudy.png">
    <img *ngIf="(weatherIcon === '09d') || (weatherIcon === '09n')" src="/assets/images/rain.png">
    <img *ngIf="(weatherIcon === '10d') || (weatherIcon === '10n')" src="/assets/images/rain.png">
    <img *ngIf="(weatherIcon === '11d') || (weatherIcon === '11n')" src="/assets/images/lightning.png">
    <img *ngIf="(weatherIcon === '13d') || (weatherIcon === '13n')" src="/assets/images/snow.png">
    <img *ngIf="(weatherIcon === '50d') || (weatherIcon === '50n')" src="/assets/images/verycloudy.png">
  <div class="current-bottom">
    <div class="current-item">
      <div class="current-item-header">Temp</div>
      <div class="current-item-value">{{ currentTemp | number: '1.0-0' }}°</div>
    </div>
    <div class="current-item">
      <div class="current-item-header">Wind</div>
      <div class="current-item-value">{{windSpeed | number: '1.0-0'}} km/h</div>
    </div>
    <div class="current-item">
      <div class="current-item-header">Humidity</div>
      <div class="current-item-value">{{humidity | number: '1.0-0'}} %</div>
    </div>
  </div>
</div>

<div class="forecast-header">
    <div>Next 12 hours</div>
    <a [routerLink]="['/',locationName | lowercase,'full']">View full report</a>
  </div>

<div *ngIf="forecast && forecast.list" class="forecast-container">
  <div class="forecast-slider scroll">
    <ng-container *ngFor="let item of forecastList | slice:0:4">
<app-location-slider-item [data]="item"></app-location-slider-item>
</ng-container>

    <div></div>
  </div>
</div>
