<div class="main-header">
<h1>Pick location</h1>
<div>Find the area or citiy that you want to know the detaiked weather info at this time</div>
</div>

<div class="search-container">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search city" name="location" [(ngModel)]="location">
      </form>
<div class="location-picker"></div>
</div>

<div class="location-overview-container">
    <app-location-tile [location]="cities[0]"></app-location-tile>
    <app-location-tile [location]="cities[1]"></app-location-tile>
</div>