<div class="main-header">
<div>Pick Location</div>
<div>Find the area or citiy that you want to know the detaiked weather info at this time</div>
</div>

<div class="search-container">
<input type="text" placeholder="search">
<div class="location-picker"></div>
</div>

<div class="location-overview-container">
    <div class="location-tile">
        <div class="location-tile-top">
            <div class="tile-top-weather">
                <div class="tile-temp">32°</div>
                <div class="tile-weather">Cloudy</div>
            </div>
            <div class="tile-top-icon">
                <img src="" alt="">
            </div>
        </div>
        <div class="location-tile-bottom">
            California
        </div>
    </div>
</div>