:root {
    --background: #0b0b3d;
    --transparent: rgba(255, 255, 255, 0.1);
    --blue: #1b86e6;
    --font-light: white;
    --headline: 2rem;
    --defaulttext: 1rem;
    --smalltext: 0.75rem;
}

.transparent-bg {
    background-color: var(--transparent) !important;
}

.blue-bg {
    background-color: var(--blue) !important;
}

.clickable {
    cursor: pointer;
    border-radius: 10px;
    padding: 8px 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background: #060926; /* fallback for browsers that don't support gradients */
    background-image: radial-gradient(circle at 165% -66%,#07749d 20%,rgba(255, 255, 255, 0) 65%);
    background-repeat: no-repeat;
    color: var(--font-light);
    padding: 2rem;
}

app-start {
    min-width: calc(100% - 2rem);
    max-width: 400px;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

app-location-detail {
    min-width: calc(100% - 2rem);
    max-width: 400px;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

app-location-full-report {
    min-width: calc(100% - 2rem);
    max-width: 400px;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

app-location-tile {
    min-width: calc(50% - 0.5rem);
    max-width: calc(50% - 0.5rem);
    overflow: hidden;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;

    h1 {
        font-weight: 400;
        font-size: var(--headline)
    }
}


.forecast-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    a {
     color: var(--blue);
     text-decoration: none;   

     &:hover {
        color: white;
     }
    }
}

.forecast-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    gap: 1rem;
}

.forecast-slider {
    margin-top: -1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: calc(100vw - 4rem);
    max-width: 400px;
    padding-bottom: 0.5rem;
}

.forecast-slider-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    .forecast-slider-item-left {
        img {
            width: 2.5rem;
        }
    }
}
  
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: -24px;

    img {
        width: 24px;
        cursor: pointer;
    }
}

.scroll {
    overflow-x: scroll;
}


.scroll::-webkit-scrollbar {
    height: 0.5rem;
}

.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #2A3647;
    border-radius: 10px;
}
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width: 450px) {
    .scroll::-webkit-scrollbar {
        display: none;
  }
  }